# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
composer.lock
composer.phar
contributing.md
license.txt
readme.rst
vendor
application/logs/
sendgrid.env
application/helpers/phppass_helper.php
public/_template/front/verify.tpl
system/session-log/*
system/session-log/*
# IntelliJ project files
.idea
*.iml
out
gen
public/_template/_cache